* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --vscode: #252934;
    --body: white;
    --oddtopic: #e6e6e6;   
}

body {
    /* background-color: var(--body); */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.header {
    padding: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--vscode);
    color: white;
    padding: 55px;
}

.header h1 {
    display: inline-block;
    font-size: 30px;
}

.header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    list-style-type: none;
}

.header section ul li {
    display: inline-block;
    margin-left: 25px;
    border: 5px;
}

a{
    color: white;
    text-decoration: none;
}

/* this is the outer space backround image */
.backdrop {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/backdrop");
    background-size: cover;
    background-position: center;
}


/* We are now creating the main section of the webpage below  */
.topic-column {
    padding: 15px;
    margin: 15px;
}


/* p {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    outline: 2px solid var(--vscode);
    outline-offset: 2px;
    color: var(--vscode);
    text-align: center;
} */

.topic-header {
    text-align: center;
    color: var(--vscode);
    font-size: 25px;
    padding: 10px;
    box-shadow: 0 0 0 5px var(--vscode);
}

.topic-body {
}

p {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    color: var(--vscode);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}


.selfie {
    padding: 30px;
    height: 230px;
    width: 175px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background-image: url("../assets/images/Selfie.jpg");
    background-size: cover;
    background-position: center;
    box-shadow:  0 0 10px var(--vscode);
}

/* this is the backround color of the add topics */
.article-color {
    background-color: var(--oddtopic);
}



.image-links:hover {
    box-shadow: 0 0 5px var(--vscode);
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
    padding: 6px;
    margin: 6px;
    outline: 2px transparent var(--vscode);
}

.flex-image-links {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    padding: 30px;
    margin: 15px;
    justify-content: center;
}

/* Resume section  */
.resume-pdf:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
    padding: 6px ;
    margin: 6px;
    border-radius: 25%;
}

.resume-pdf {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    padding: 15px;
    margin: 15px;
    justify-content: center;
}




/* Contact me section */

.contact-links:hover {
    box-shadow: 0 0 5px var(--vscode);
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
    padding: 6px ;
    margin: 6px;
    border-radius: 25%;
    outline: 2px transparent var(--vscode);
}

.flex-contact-links {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    padding: 15px;
    margin: 15px;
    justify-content: center;
}







/* .contacts-body {
    display: block;
    justify-content: center;
} */

/* .contacts {
    display: block;
    color: #252934;
    justify-content: center;
} */

/* .contacts ul li{
    display: block;
    justify-content: center;
    color: var(--vscode);
} */



/**** fix the contacts and resume empty white space, along with adding tittles to the work images ****/



.footer-section {
    padding: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--vscode);
    color: white;
    text-align: center;
}







@media screen and (minwidth: 992px) {
    .flex-image-links {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

